* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    max-width: auto;        
  }

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Cambria;
}

header {
    width: 75%;
}

h1 {
    position: relative;
    font-size: 72pt;
    color: blue; 
}

.Title {
    width: 75%;
    text-align: center;
    margin: auto;
    max-width: 1000px;
}

nav {
    margin: auto;
    text-align: center;
    width: 50%;
}

.Main_Page_List {
    display: inline-block;
    position: relative;
    width: 40%;
    margin: 5px;
}

#leftlist {
    float: left;
}

#rightlist {
    overflow:hidden;
    left: 5px;
    right: 5px;
    float: right;
}

.list_header {
    text-align: center;
}