@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap");

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: auto;
}

html,
body {
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto Slab", serif;
  vertical-align: middle;
  margin: 0px;
  font-size: 2vh;
}

img {
  max-width: 100%;
  display: block;
}

h1 {
  font-size: 8vh;
  width: 100%;
  float: left;
}

@media screen and (width: 500px) {
  body {
    font-size: 5vh;
  }
}

#subtitle {
  font-size: 6vh;
}

#titlediv {
  display: flex;
  width: 100%;
  background-color: #034748;
}

.Title {
  width: 75%;
  text-align: center;
  margin: auto;
  max-width: 1000px;
  padding-bottom: 10px;
  color: white;
}

#homeimg {
  width: 15%;
  min-width: 150px;
  flex-shrink: 0;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  outline: 5px;
  background-color: #1481ba;
}

nav > a {
  border: 2px solid transparent;
  color: white;
  padding: 5px;
  text-decoration: none;
  font-size: calc(12px + 1vw);
  flex: 1;
  text-align: center;
  font-weight: bold;
}

nav > a:hover {
  border: 1px solid darkgrey;
}

nav > a:active {
  background-color: darkgrey;
}

#homebio {
  padding: 1%;
  text-align: center;
  width: 85%;
}

#Main_Page_Lists {
  display: grid;
  grid-gap: 3px;
  grid-template-columns: 0.5fr repeat(2, 1.5fr) 0.5fr;
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
    ". tl tr ."
    ". bl br .";
}

.list_header {
  text-align: center;
}

#topleftlist {
  grid-area: tl;
  left: 5px;
  right: 5px;
  background-color: #96ceb4;
  border-radius: 25px;
}

#toprightlist {
  grid-area: tr;
  overflow: hidden;
  left: 5px;
  right: 5px;
  background-color: #ff6f69;
  border-radius: 25px;
}

#bottomleftlist {
  grid-area: bl;
  left: 5px;
  right: 5px;
  background-color: #ffcc5c;
  border-radius: 25px;
}

#bottomrightlist {
  grid-area: br;
  overflow: hidden;
  left: 5px;
  right: 5px;
  background-color: #88d8b0;
  border-radius: 25px;
}

footer {
  width: 100%;
  margin-top: 50px;
}

#footerdiv {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: auto;
}

#footerdiv > a {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  margin: auto;
  text-decoration: none;
  flex: 1;
}

#footerdiv > a > img {
  width: 100px;
  margin: auto;
}
